$white: #fff;
$dark: #0d1418;
$primary: #263f71;
$graphite: #21365f;
$gray: #7b8ea7;
$gray-light: #e8eaed;
$steel: #d4dde7;
$red: #ff4040;
$green: #27bf0e;
$gold: #e6d16c;
$background: #e5e5e5;
$background-gray: #f8fafc;
$shadow: rgba(233, 233, 233, 0.84);
$app: #eef3f9;